@model Final.Models.HocSinh
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section myCss {
    <style>
        .modal-content {
            margin-top: 15px;
        }
        .errorMessage {
            color: red;
        }
        .bordered-avatar {
            border: solid crimson 1px;
        }
        .avatar-choosing {
            margin: 10px 0 10px 0;
        }
    </style>
}

<h1 class="hidden">Phần nội dung</h1>
<div class="modal-content">
    <div class="row">
        <div class="hidden-xs col-sm-3">
            <img class="img-responsive" style="padding: 15px;" src="/images/snake.png" alt="Snake" />
        </div>
        <div class="cols-xs-12 col-sm-6">
            <form action="@Url.Action("Register")" method="post">
                <div class="form-group">
                    <label for="">Email đăng nhập: *</label>
                    <!--<input name="Email" type="text" class="form-control" />-->
                    @Html.TextBoxFor(model => model.Email, new {@class = "form-control"})
                    @Html.ValidationMessageFor(model => model.Email, String.Empty ,new { @class =  "errorMessage"})
                    <div style="color: red;">
                        @ViewData["DuplicateEmailError"]
                    </div>
                </div>
                <div class="form-group">
                    <label for="">Mật khẩu: *</label>
                    @Html.PasswordFor(model => model.Password, new {@class =  "form-control"})
                    @Html.ValidationMessageFor(model => model.Password, String.Empty, new {@class = "errorMessage"})
                    <!--<input name="Password" type="text" class="form-control" />-->
                </div>
                <div class="form-group">
                    <label for="">Nhập lại mật khẩu: *</label>
                    <input type="password" class="form-control" name="ConfirmPassword" />
                    <div style="color: red;">
                        @ViewData["ConfirmPasswordError"]
                    </div>
                </div>
                <div class="form-group">
                    <label for="">Họ tên: *</label>
                    @Html.TextBoxFor(model => model.HoTen, new {@class =  "form-control"})
                </div>
                <div class="form-group">
                    <label for="">Ngày sinh: </label>
                    <input class="form-control" type="date" name="NgaySinh" />
                </div>
                <div style="color: red;">
                    @ViewData["NgaySinhError"]
                </div>
                <div>
                    <p style="font-weight: bold;">Chọn một ảnh đại diện:</p>
                    <div class="avatar-choosing">
                        <img id="ava_1" class="bordered-avatar" src="/images/sample_avatars/1.png" alt="1.png" />
                        <img id="ava_2" src="/images/sample_avatars/2.png" alt="2.png" />
                        <img id="ava_3" src="/images/sample_avatars/3.png" alt="3.png" />
                        <img id="ava_4" src="/images/sample_avatars/4.png" alt="4.png" />                        
                    </div>
                </div>
                <input type="hidden" name="Hinh" value="1.png" />
                <button type="submit" class="btn btn-primary">
                    Đăng ký
                </button>
            </form>
        </div>
        <div class="hidden-xs col-sm-3">
            <img style="padding: 15px;" class="img-responsive" src="/images/elephant.png" alt="Elephant" />
        </div>
    </div>
</div>

@section myJs {
    <script>
        $(document).ready(function(){
            $('.avatar-choosing img').click(function() { //  
                $('.avatar-choosing img').removeClass('bordered-avatar');
                $(this).addClass('bordered-avatar');
                $('input[name="Hinh"]').prop('value',(parseInt($(this).index()) + 1) + '.png');
            });
        });
    </script>
}