@using Microsoft.AspNetCore.Http;
@model Final.Models.BaiHoc
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section myCss {
    <link href="/css/baihoc.css" rel="stylesheet" />
    <style>
        .example-enter {
            opacity: 0.5;
            transform: translate(200px, 200px) rotate(180deg);
        }

        .example-enter.example-enter-active {
            opacity: 1;
            transform: translate(0, 0) rotate(0);
            transition: all 800ms ease-in-out;
        }

        .example-leave {
            opacity: 1;
            transform: translate(0, 0) rotate(0);
        }

        .example-leave.example-leave-active {
            opacity: 0;
            transform: translate(-200px, -200px) rotate(-180deg);
            transition: all 800ms ease-in-out;
        }
    </style>
}

<h1 class="hidden">Nội dung bài học</h1>
<!--<ol class="breadcrumb">
    <li><a href="@Url.Action("Index","Home")">Trang chủ</a></li>
    <li><a href="@Url.Action("BaiHoc","Home",new {lopId = ViewBag.LopId})">Lớp @ViewBag.LopId</a></li>
    <li><a href="@Url.Action("BaiHocChiTiet","Home",new {baiHocId = ViewBag.BaiHocId, lopId = ViewBag.LopId})">@Model.Ten</a></li>
</ol>-->
<div class="row">
    <div class="col-xs-12 col-sm-3 col-sm-push-9">
        @if (Context.Session.GetInt32("HocSinhId") != null)
        {
            <div class="well">
                <div>
                    <a href="/HocSinhAuthentication/EditInformation">
                        <img style="float: right;" width="16" src="/images/config.png" />
                    </a>    
                </div>
                <div class="avatar">
                    <img width="64" src="/images/sample_avatars/@Context.Session.GetString("HocSinhHinh")" alt="Avatar" />
                </div>
                <div style="color: red; text-align: center; font-weight: bold; font-size: 125%; margin: 5px 0 5px 0">
                    @Context.Session.GetString("HocSinhHoTen")
                </div>
                <div style="text-align: center;">
                    Email: @Context.Session.GetString("HocSinhEmail")
                </div>
                <div style="text-align: center;">
                    Ngày sinh: @Context.Session.GetString("HocSinhNgaySinh")
                </div>
            </div>
            <script>

            </script>
        }
        <div>
            <img src="/images/ad/ad.png" class="img-responsive" />
            @*<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <!-- AdTest -->
                <ins class="adsbygoogle"
                     style="display: block"
                     data-ad-client="ca-pub-5190118737577536"
                     data-ad-slot="7539014809"
                     data-ad-format="auto"></ins>
                <script>
                    google_adtest = 'on';
                    (adsbygoogle = window.adsbygoogle || []).push({});
                </script>*@
        </div>
    </div>
    <div class="col-xs-12 col-sm-9 col-sm-pull-3">
        <div class="modal-content">
            <img class="img-responsive" src="/Images/lop1.jpg" alt="lopId1" />
            @*table*@
            <div class="container-fluid">
                <div class="noidungchinh">
                    @Html.Raw(Model.NoiDung)
                </div>
                <h4> 
                    <a href="@Url.Action("BaiTap",new {baiHocId = Model.BaiHocId})">Danh sách bài tập</a>
                </h4>
                <ul class="baitaplist">
                    @foreach (var baiTap in Model.BaiTaps)
                    {
                        <li>
                            <a href="@Url.Action("BaiTapChiTiet","Home",new {baiTapId = baiTap.BaiTapId})">@baiTap.Ten</a>
                        </li>
                    }
                </ul>
            </div>
        </div>
        <br />
        <div id="commentBox" class="commentBox">

        </div>
</div>
</div>

@section myJs {
    <script src="/js/user/commentBox.js"></script>
    <script>
        @{
            var author = @Html.Raw(@Context.Session.GetString("HocSinhHoTen"));
            var authorImage = @Html.Raw(@Context.Session.GetString("HocSinhHinh"));
        }
        let _author = '@author';
        let _authorImage = '@authorImage';
        
        console.log(_authorImage);
        
        renderCommentBox(@Model.BaiHocId,
            "commentBox",
            _author,
            _authorImage,
            );
    </script>
}